#changepassword{
}

.changepasswordpanel{
    margin: 0 auto;
    margin-top:20px;
}
#changepassword table{
    margin:0 auto;
    width:250px;
    margin-top:20px;
}
#changepassword table td{
    padding:5px;
}